<!DOCTYPE html>

<html>
<head>
    <title>HR Adhoc Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{ Html.RenderPartial("_Navigation");
    }

    @RenderBody();

    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>

</html>
